@if (doorData){
    <mat-card class="relative gap-5 p-2 flex flex-col justify-between col-span-2">
        <mat-card-header class="mt-4">
            <mat-card-title class="text-xl font-medium">Puerta</mat-card-title>
            <mat-card-subtitle><strong class="font-medium">Última registro:</strong> {{doorData.registeredDate|
                date:"short"}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            @for (action of doorData.actions; track $index) {

                @if (action.value == true) {
                    <div matTooltip="Puerta abierta"  matTooltipPosition="above" 
                class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl from-green-300 via-green-400 to-green-500 text-white"><span>Abierta</span>
                <mat-icon>meeting_room</mat-icon></div>
                } @else {
                    <div matTooltip="Puerta cerrada"  matTooltipPosition="above" 
                    class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl from-gray-300 via-gray-400 to-gray-500 text-white"><span>Cerrada</span><mat-icon>door_front</mat-icon> </div>
                }
                
                <mat-slide-toggle color="primary" class="absolute top-1 right-1" [checked]="action.value" [disabled]="isLoading" (toggleChange)="action.value ? turnOff(doorData.arduinoIp) : turnOn(doorData.arduinoIp)">
                    @if(action.value) {Cerrar} @else { Abrir }
            </mat-slide-toggle>
                
            }
        </mat-card-content>
        <mat-card-footer class="w-full flex items-center justify-center">

            <button matTooltip="Ver todos los registros." matTooltipPosition="below" mat-flat-button color="primary"
            (click)="seeMore()">Ver
            más</button>
            
        </mat-card-footer>
    </mat-card>
    }