<nav class="has-[button]:w-full flex flex-col gap-5 mx-3 ">
    <mat-card class="flex items-center justify-center p-2 bg-slate-200 cursor-pointer transition-all ease-in-out  hover:scale-105 active:scale-95" routerLink="/home/">
        <h1 class="flex items-center justify-center gap-2 font-medium text-xl">
            <mat-icon>home</mat-icon>
            Inicio
        </h1>
    </mat-card>
    <mat-divider></mat-divider>
    <h1 class="text-xl font-bold">Recámaras</h1>
    @for (bedroom of rooms.bedrooms; track $index) {
        <app-sidenav-grid-item [title-room]="bedroom" routerLink="/bedroom/{{bedroom}}"/>
    }
    <mat-divider></mat-divider>
    <h1 class="text-xl font-bold">Baños</h1>
    @for (bathroom of rooms.bathrooms; track $index) {
        <app-sidenav-grid-item [title-room]="bathroom" routerLink="/bathroom/{{bathroom}}"/>
    }
    <mat-divider></mat-divider>
    <h1 class="text-xl font-bold">Cocina</h1>
    @for (kitchen of rooms.kitchens; track $index) {
        <app-sidenav-grid-item [title-room]="kitchen" routerLink="/kitchen/{{kitchen}}"/>
    }
    <mat-divider></mat-divider>
    <h1 class="text-xl font-bold">Sala de Estar</h1>
    @for (livingroom of rooms.livingrooms; track $index) {
        <app-sidenav-grid-item [title-room]="livingroom" routerLink="/livingroom/{{livingroom}}"/>
    }
    <mat-divider></mat-divider>
    <h1 class="text-xl font-bold">Garaje</h1>
    @for (garage of rooms.garages; track $index) {
        <app-sidenav-grid-item [title-room]="garage" routerLink="/garage/{{garage}}"/>
    }
    <mat-divider></mat-divider>
</nav>