<section class="mt-5 px-5 mx-auto">
    <div class="w-full flex items-center justify-center mb-3">
        <h1 class="text-3xl text-neutral-800 font-bold">{{bathroomName}}</h1>
    </div>
    <div class="w-full grid grid-cols-8 max-w-full justify-center gap-4 mb-4">
        <h2 class="col-span-8">Sensores</h2>
        <mat-divider class="col-span-8"></mat-divider>
        @if (ldrData) {
        <app-photoresistor-data-item component-room-name="bathrooms" [component-location]="ldrData.location" [component-name]="ldrData.name" [ldr-data]="ldrData" class="col-span-2 row-span-2" />
        }
        @if (proximityData){
        <app-proximity-data-item component-room-name="bathrooms" [component-location]="proximityData.location" [component-name]="proximityData.name" [proximity-data]="proximityData" class="col-span-2 row-span-2" />
        }
        @if (presenceData){
        <app-presence-data-item component-room-name="bathrooms" [component-location]="presenceData.location" [component-name]="presenceData.name" [presence-data]="presenceData" class="col-span-2 row-span-2" />
        }
    </div>


    <div class="w-full grid grid-cols-8 max-w-full justify-center gap-4 mb-5 place-content-center">
        <h2 class="col-span-8">Actuadores</h2>
        <mat-divider class="col-span-8"></mat-divider>
        @if (doorData){
            <app-door-data-item (actuator-updated)="onActuatorUpdate()" component-room-name="bathrooms" [component-location]="doorData.location" [component-name]="doorData.name" [door-data]="doorData" class="col-span-2 row-span-2"></app-door-data-item>
        }
        @if (waterPumpData){
            <app-water-pump-data-item (actuator-updated)="onActuatorUpdate()" component-room-name="bathrooms" [component-location]="waterPumpData.location" [component-name]="waterPumpData.name" [waterPump]="waterPumpData" class="col-span-2 row-span-2"/>
            }
        @if (inLightData){
            <app-in-light-data-item (actuator-updated)="onActuatorUpdate()" component-room-name="bathrooms" [component-location]="inLightData.location" [component-name]="inLightData.name" [inlight-data]="inLightData" class="col-span-2 row-span-2"></app-in-light-data-item>
        }
        @if (exLightData){
            <app-ex-light-data-item component-room-name="bathrooms" [component-location]="exLightData.location" [component-name]="exLightData.name" [exlight-data]="exLightData" class="col-span-2 row-span-2"></app-ex-light-data-item>
        }
        @if (windowData){
            <app-simple-window (actuator-updated)="onActuatorUpdate()" [component-location]="windowData.location" [component-name]="windowData.name" [window-data]="windowData"/>
        }
    </div>
</section>