@if (fanData) {
    <mat-card class="gap-5 p-2 flex flex-col justify-between">
        <mat-card-header>
            <mat-card-title class="text-xl font-medium">{{fanData.name}}</mat-card-title>
            <mat-card-subtitle><strong class="font-medium">Fecha inicial:</strong> {{fanData.registeredDate|
                date:"short"}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            @for (action of fanData.actions; track $index) {
           
                @if (action.value) {
                    <div class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl from-emerald-300 via-green-400 to-emerald-500 text-white mb-4">
                        <span class="material-symbols-outlined">
                            mode_fan
                        </span>
                    </div>
            } @else {
                <div class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl to-gray-500 via-gray-400 from-gray-300 text-black mb-4">
                    <span class="material-symbols-outlined">
                        mode_fan_off
                    </span>
                </div>
                }
                <!-- <span>
                    {{action.name}}
                </span> -->
    
           
            <div class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl text-white mb-4">
                <form action="">
                    <mat-slide-toggle color="primary">Encender ventilador</mat-slide-toggle>
                </form>
            </div>
            }
        </mat-card-content>
        <mat-card-footer class="w-full flex items-center justify-center">
            <button mat-flat-button color="primary">Ver más</button>
        </mat-card-footer>
    </mat-card>
}
