@if (fanData) {
<mat-card class="relative gap-5 p-2 flex flex-col justify-between">
    <mat-card-header class="mt-4">
        <mat-card-title class="text-xl font-medium">{{fanData.name}}</mat-card-title>
        <mat-card-subtitle><strong class="font-medium">Fecha inicial:</strong> {{fanData.registeredDate|
            date:"short"}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        @for (action of fanData.actions; track $index) {

        @if (action.value) {
        <div matTooltip="Encendido" matTooltipPosition="above"
            class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl from-emerald-300 via-green-400 to-emerald-500 text-white mb-4">
            <span class="material-symbols-outlined">
                mode_fan
            </span>
            <span>Ventilador Encendido</span>
        </div>
        } @else {
        <div matTooltip="Apagado" matTooltipPosition="above"
            class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl to-gray-500 via-gray-400 from-gray-300 text-black mb-4">
            <span class="material-symbols-outlined">
                mode_fan_off
            </span>
            <span>Ventilador Apagado</span>
        </div>
        }
        <!-- <span>
                    {{action.name}}
                </span> -->
        <mat-slide-toggle color="primary" class="absolute top-1 right-1" [checked]="action.value" [disabled]="isLoading"
            (toggleChange)="action.value ? fanOff(fanData.arduinoIp) : fanOn(fanData.arduinoIp)">
            @if (action.value) { Apagar } @else { Encender }
        </mat-slide-toggle>
        }
    </mat-card-content>
    <mat-card-footer class="w-full flex items-center justify-center">

        <button matTooltip="Ver todos los registros." matTooltipPosition="below" mat-flat-button color="primary"
            (click)="seeMore()">Ver
            más</button>

    </mat-card-footer>
</mat-card>
}