@if (dhtData) {
<mat-card class="bg-gray-50 p-2 flex flex-col gap-5 animate-fade-down animate-duration-500 animate-ease-in">
    <mat-card-header>
        <mat-card-title class="text-xl font-medium">Temperatura y Humedad</mat-card-title>
        <mat-card-subtitle><strong class="font-medium">Última Lectura:</strong> {{dhtData.registeredDate |
            date:'short'}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="flex justify-around">
        @for (read of dhtData.readings; track $index) {
        @if (read.name.toLowerCase().includes("temperatura")) {
        <div matTooltip="Temperatura"
            matTooltipShowDelay="250"
            matTooltipHideDelay="300"
            matTooltipPosition="above"
            class="cursor-pointer shadow-md rounded-sm bg-gradient-to-tr from-emerald-500 via-emerald-400 to-emerald-500 p-2 w-2/5 flex items-center justify-center text-white font-medium">
            <mat-icon>thermostat</mat-icon>
            <span>
                {{read.value}} {{read.measuramentUnit}}
            </span>
        </div>
        } @else {
        <div matTooltip="Porcentaje de Humedad"
            matTooltipShowDelay="250"
            matTooltipHideDelay="300"
            matTooltipPosition="above"
            class="cursor-pointer shadow-md rounded-sm bg-gradient-to-tr from-slate-500 via-gray-600 to-slate-500 p-2 w-1/3 flex items-center justify-center text-white font-medium">
            <mat-icon>water_drop</mat-icon>
            <span>{{read.value}} {{read.measuramentUnit}}</span>
        </div>
        }
        }
    </mat-card-actions>
    <mat-card-footer class="w-full flex items-center justify-center">
        <button mat-flat-button color="primary">Más</button>
    </mat-card-footer>
</mat-card>
}