@if (presenceData) {
    <mat-card class="gap-5 p-2 flex flex-col justify-between col-span-2">
        <mat-card-header>
            <mat-card-title class="text-xl font-medium">Presencia</mat-card-title>
            <mat-card-subtitle><strong class="font-medium">Última Lectura:</strong> {{presenceData.registeredDate|
                date:"short"}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            @for (read of presenceData.readings; track $index) {
            <div matTooltip="Presencia" matTooltipShowDelay="250" matTooltipHideDelay="300" matTooltipPosition="above" class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl from-sky-300 via-blue-400 to-sky-500 text-white">
    
                @if(read.value == 1){
                    <mat-icon>person</mat-icon>
                    <span>
                        Ocupado
                    </span>
                }@else {
                    <mat-icon>person_off</mat-icon>
                    <span>
                        Desocupado
                    </span>
                }
    
            </div>
            }
        </mat-card-content>
        <mat-card-footer class="w-full flex items-center justify-center">

            <button matTooltip="Ver todos los registros." matTooltipPosition="below" mat-flat-button color="primary" 
            (click)="seeMore()">Ver
             más</button>

        </mat-card-footer>
    </mat-card>
}