<section class="mt-5 px-5 mx-auto grid grid-cols-8 grid-rows-8 [&>h1]:text-xl [&>h1]:font-medium">
    <div class="w-full flex items-center justify-center col-span-8">
        <h1 class="font-inter font-black text-3xl text-slate-800">“Tú tienes el control.”</h1>
    </div>
    <h1 class="col-span-8">Recámaras</h1>
    <mat-divider class="col-span-8"></mat-divider>
    @for (bedroom of rooms.bedrooms; track $index) {
        <p>{{bedroom.name}}</p>
    }
    <h1 class="col-span-8">Cocina</h1>
    <mat-divider class="col-span-8"></mat-divider>
    <h1 class="col-span-8">Sala de Estar</h1>
    <mat-divider class="col-span-8"></mat-divider>
    <h1 class="col-span-8">Garaje</h1>
    <mat-divider class="col-span-8"></mat-divider>
    <h1 class="col-span-8">Baños</h1>
    <mat-divider class="col-span-8"></mat-divider>
</section>