<section class="mt-5 px-5 mx-auto [&>h1]:text-xl [&>h1]:font-medium animate-fade-down animate-ease-out">
    <div class="w-full flex items-center justify-center mb-5">
        <h1 class="font-inter font-black text-3xl text-slate-800">“Tú tienes el control.”</h1>
    </div>

    <div class="
        w-full
        mx-auto
        grid grid-rows-4 grid-cols-6 auto-rows-auto  auto-cols-auto grid-flow-dense
        content-between place-content-center items-stretch justify-stretch
        gap-5
    ">
        @for (bedroom of rooms.bedrooms; track $index) {
        <mat-card class="
            relative 
            p-2
            cursor-pointer 
            flex flex-col col-span-2 row-span-2 items-center justify-center
            bg-gradient-to-r from-amber-200 to-yellow-300 
            delay-0 
            hover:scale-[1.02] transition-all ease-out hover:outline-t-4 active:opacity-75 outline-none duration-200
            " routerLink="/bedroom/{{bedroom}}">
            <mat-card-header>
                <mat-card-title class="text-2xl font-semibold">{{bedroom}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="w-full mb-10">

            </mat-card-content>
        </mat-card>
        }
        @for (livingroom of rooms.livingrooms; track $index) {
        <mat-card class="
        relative 
        p-2
        cursor-pointer 
        flex flex-col col-span-1 row-span-3 items-center justify-center
        bg-gradient-to-r from-stone-400 to-stone-500 text-white
        delay-0 
        hover:scale-[1.02] transition-all ease-out hover:outline-t-4 active:opacity-75 outline-none duration-200
        " routerLink="/livingroom/{{livingroom}}">
            <mat-card-header>
                <mat-card-title class="text-2xl font-semibold">{{livingroom}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="w-full mb-10">

            </mat-card-content>
        </mat-card>
        }
        @for (kitchen of rooms.kitchens; track $index) {
        <mat-card class="
    relative 
    p-2
    cursor-pointer 
    flex flex-col row-span-2 col-span-3  justify-center items-center
    bg-gradient-to-r from-violet-200 to-pink-200
    delay-0 
    hover:scale-[1.02] transition-all ease-out hover:outline-t-4 active:opacity-75 outline-none duration-200
    " routerLink="/kitchen/{{kitchen}}">
            <mat-card-header>
                <mat-card-title class="text-2xl font-semibold">{{kitchen}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="w-full mb-10">

            </mat-card-content>
        </mat-card>
        }
        @for (garage of rooms.garages; track $index) {
        <mat-card class="
    relative 
    p-2
    cursor-pointer 
    flex flex-col col-span-5 justify-center items-center
    bg-gradient-to-b from-gray-900 via-slate-700 to-slate-500 text-white
    delay-0 
    hover:scale-[1.02] transition-all ease-out hover:outline-t-4 active:opacity-75 outline-none duration-200
    " routerLink="/garage/{{garage}}">
            <mat-card-header>
                <mat-card-title class="text-2xl font-semibold">{{garage}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="w-full mb-10">

            </mat-card-content>
        </mat-card>
        }
        @for (bathroom of rooms.bathrooms; track $index) {
        <mat-card class="
    relative 
    p-2
    cursor-pointer 
    flex flex-col col-span-2 justify-center items-center
    bg-gradient-to-r from-teal-200 to-teal-500 text-neutral-800 
        delay-0 
        hover:scale-[1.02] transition-all ease-out hover:outline-t-4 active:opacity-75 outline-none duration-200
        " routerLink="/bathroom/{{bathroom}}">
            <mat-card-header>
                <mat-card-title class="text-2xl font-semibold">{{bathroom}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="w-full mb-10">

            </mat-card-content>
        </mat-card>
        }
    </div>


</section>