<section class="mt-5 px-5 mx-auto [&>h1]:text-xl [&>h1]:font-medium animate-fade-down animate-ease-out">
    <div class="w-full flex items-center justify-center">
        <h1 class="font-inter font-black text-3xl text-slate-800">“Tú tienes el control.”</h1>
    </div>
    <h1>Recámaras</h1>
    <mat-divider></mat-divider>
    <div class="w-full grid grid-cols-8 items-center gap-4">
        @for (bedroom of rooms.bedrooms; track $index) {
        <mat-card class="
            relative 
            p-2
            cursor-pointer 
            flex flex-col col-span-2 
            bg-gradient-to-tr from-slate-50 via-slate-100 to-slate-100 
            delay-0 
            hover:to-emerald-100 hover:scale-105 transition-all ease-out hover:outline-t-4 active:opacity-75 outline-none duration-200
            ">
            <mat-card-header>
                <mat-card-title class="text-2xl font-semibold">{{bedroom}}</mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="w-full mb-10">

            </mat-card-content>
        </mat-card>
        }
    </div>
    <h1>Cocina</h1>
    <mat-divider></mat-divider>
    <h1>Sala de Estar</h1>
    <mat-divider></mat-divider>
    <h1>Garaje</h1>
    <mat-divider></mat-divider>
    <h1>Baños</h1>
    <mat-divider></mat-divider>
</section>