<mat-toolbar color="primary" class="z-50 relative justify-center w-full flex gap-4 items-center text-white">
    <button mat-icon-button class=" absolute left-3 flex items-center justify-center" (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
    </button>
    <a class="cursor-pointer flex items-center place-self-center self-center justify-self-center justify-center bg-gradient-to-bl from-slate-800 to-slate-950 p-1 rounded-xl self-center" routerLink="/home/">
        <img src="assets/logo.svg" alt="logo" class="object-cover size-8">
        <h1 class="text-3xl rounded-xl p-2 font-bold">
            iHouse
        </h1>
    </a>
</mat-toolbar>
