@if(inLightData){
<mat-card class="relative gap-5 p-2 z-10 flex flex-col justify-between col-span-2">
    <mat-card-header class="mt-4">
        <mat-card-title class="text-xl font-medium">Luz Interior</mat-card-title>
        <mat-card-subtitle><strong class="font-medium">Ultimo Registro:</strong> {{inLightData.registeredDate|
            date:"short"}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        @for (action of inLightData.actions; track $index) {
        @if(action.value == false){
        <div matTooltip="Luz apagada" matTooltipPosition="above"
            class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl to-gray-500 via-gray-400 from-gray-300   text-black">
            <mat-icon>light_off</mat-icon>

            <span>
                Apagada
            </span>

        </div>
        }@else{
        <div matTooltip="Luz Encendida" matTooltipPosition="above"
            class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl to-green-500 via-green-400 from-green-300   text-white">
            <mat-icon>lightbulb</mat-icon>
            <span>
                Encendida
            </span>

        </div>
        }
        <mat-slide-toggle color="primary" class="absolute top-1 right-1" [checked]="action.value" [disabled]="isLoading" (toggleChange)="action.value ? turnOff(inLightData.arduinoIp) : turnOn(inLightData.arduinoIp)">
            @if (action.value) { Apagar } @else { Encender }
        </mat-slide-toggle>
        }
    </mat-card-content>
    <mat-card-footer class="w-full flex items-center justify-center">

        <button matTooltip="Ver todos los registros." matTooltipPosition="below" mat-flat-button color="primary"
            (click)="seeMore()">Ver
            más</button>
            
    </mat-card-footer>
</mat-card>
}