@if (waterPumpData){
<mat-card class="gap-5 p-2 flex flex-col justify-between col-span-2">
    <mat-card-header class="mt-4">
        <mat-card-title class="text-xl font-medium">Bomba de Agua</mat-card-title>
        <mat-card-subtitle><strong class="font-medium">Última Lectura:</strong> {{waterPumpData.registeredDate|
            date:"short"}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        @for (action of waterPumpData.actions; track $index) {
        <div
            class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl from-sky-100 via-blue-400 to-sky-500 text-white">
            @if(action.value == 0){
            <span>
                Apagado
            </span>
            }@else{
            <mat-icon>valve</mat-icon>
            <span>
                Encendido
            </span>
            }
        </div>
        @if (action.value) {
        <mat-slide-toggle color="primary" class="absolute top-1 right-1" checked="true">Apagar</mat-slide-toggle>
        } @else if (!action.value) {
        <mat-slide-toggle color="primary" class="absolute top-1 right-1" checked="false">Encender</mat-slide-toggle>
        }

        }
    </mat-card-content>
    <mat-card-footer class="w-full flex items-center justify-center">

        <button matTooltip="Ver todos los registros." matTooltipPosition="below" mat-flat-button color="primary"
            (click)="seeMore()">Ver
            más</button>
            
    </mat-card-footer>
</mat-card>
}