<mat-card class="rounded-xl p-3 cursor-pointer delay-0 transition-all ease-in-out  hover:scale-105 active:scale-95">
    <mat-card-header class="flex items-center justify-center">
        <mat-card-title class="text-xl font-semibold text-center">room.title</mat-card-title>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-footer>
        <!-- Temp and Humidity Container -->
        <div class="full flex justify-center gap-2 text-white">
            <div class="bg-teal-400 rounded-xl shadow-md w-1/2 text-center py-2 px-3">
                <span>56.8 C</span>
            </div>
            <div class="bg-slate-500 rounded-xl shadow-md w-1/2 text-center p-2">
                <span>80%</span>
            </div>
        </div>
    </mat-card-footer>
</mat-card>