<main class="flex flex-wrap gap-5 px-5 mt-5 items-center justify-between">
    @for (dataSensor of dataSensors; track $index) {
    <mat-card class="w-1/4 ">
        <mat-card-header>
            <mat-card-title class="text-xl ">{{dataSensor.name}}</mat-card-title>
            <mat-card-subtitle class="text-3xl font-bold"
                [ngClass]="{'text-red-500': dataSensor.id < 3 && dataSensor.id > 1, 'text-blue-500': dataSensor.id >= 3}">{{dataSensor.id}}</mat-card-subtitle>
        </mat-card-header>
        <img matCardImage src="Card wide image source">
        <mat-card-content>
            <p><strong>Location:</strong> {{dataSensor.location}}</p>
            <ul>
                @if (dataSensor.sensors) {
                    @for (sensor of dataSensor.sensors; track $index) {
                        <li>{{sensor.name}}</li>
                    }
                } @else {
                    @for (actuator of dataSensor.actuators; track $index) {
                        <li>{{actuator.name}}</li>
                    }
                }
            </ul>
        </mat-card-content>
        <mat-card-actions align="start">


        </mat-card-actions>
        <mat-card-footer>
            Footer
        </mat-card-footer>
    </mat-card>
    }

</main>