@if(gateLeftData && gateRightData){
<mat-card class="relative gap-5 p-2 flex flex-col justify-between col-span-2">
    <mat-card-header class="mt-4">
        <mat-card-title class="text-xl font-medium">Porton Doble</mat-card-title>
        <mat-card-subtitle><strong class="font-medium">Ultimo Registro:</strong> {{gateLeftData.registeredDate|
            date:"short"}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        @for (action of gateLeftData.actions; track $index) {
        @if(action.value == false){
        <div
            class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl to-neutral-500 via-gray-400 from-neutral-600 text-white">

            <span>
                Cerrada
            </span>

        </div>
        }@else{
        <div
            class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl from-emerald-200 via-sky-300 to-emerald-500  text-black">

            <span>
                Abierta
            </span>

        </div>
        }
        <mat-slide-toggle color="primary" class="absolute top-1 right-1" [checked]="action.value" [disabled]="isLoading"
            (toggleChange)="action.value ? closePorton(gateLeftData.arduinoIp) : openPorton(gateLeftData.arduinoIp)">
            @if (action.value) { Cerrar } @else { Abrir }
        </mat-slide-toggle>
        }
    </mat-card-content>
    <mat-card-footer class="w-full flex items-center justify-center">
        <button matTooltip="Ver todos los registros." matTooltipPosition="below" mat-flat-button color="primary"
            (click)="seeMore()">Ver
            más</button>
    </mat-card-footer>
</mat-card>
}