@if (ldrData) {
    <mat-card class="gap-5 p-2 flex flex-col justify-between">
        <mat-card-header>
            <mat-card-title class="text-xl font-medium">Fotorresistencia</mat-card-title>
            <mat-card-subtitle><strong class="font-medium">Última Lectura:</strong> {{ldrData.registeredDate |
                date:"short"}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            @for (read of ldrData.readings; track $index) {
            <div matTooltip="Luminosidad" matTooltipShowDelay="250" matTooltipHideDelay="300" matTooltipPosition="above" class="w-11/12 py-2 flex items-center justify-center gap-5 mx-auto rounded-sm bg-gradient-to-tl from-sky-300 via-blue-400 to-sky-500 text-white">
                @if (read.value >= 700) {
                <span class="material-symbols-outlined">
                    backlight_high
                </span>
            } @else if (read.value < 700 && read.value >= 400) {
                <span class="material-symbols-outlined">
                    backlight_low
                </span>
            } @else {
                <span class="material-symbols-outlined">
                    backlight_high_off
                </span>
    
                }
                <span>
                    {{read.value}}
                </span>
    
            </div>
            }
        </mat-card-content>
        <mat-card-footer class="w-full flex items-center justify-center">
            <button mat-flat-button color="primary">Ver más</button>
        </mat-card-footer>
    </mat-card>
}