<section class="mt-5 px-5 mx-auto">
    <div class="w-full flex items-center justify-center mb-3">
        <h1 class="text-3xl text-neutral-800 font-bold">{{livingroomName}}</h1>
    </div>
    <div class="w-full grid grid-cols-8 max-w-full justify-center gap-4 mb-4">
        <h2 class="col-span-8 font-semibold text-xl">Sensores</h2>
        <mat-divider class="col-span-8"></mat-divider>
        @if (dhtData) {
            <!-- * ----------- -->
            <app-temperature-data-item component-room-name="livingrooms" [component-location]="dhtData.location" [component-name]="dhtData.name"  [dht-data]="dhtData" class="col-span-2 row-span-2" />
            <!-- * ----------- -->
        }
        @if (ldrData) {
            <!-- * ----------- -->
            <app-photoresistor-data-item component-room-name="livingrooms" [component-location]="ldrData.location" [component-name]="ldrData.name" [ldr-data]="ldrData" class="col-span-2 row-span-2"/>
            <!-- * ----------- -->
        }
       
    </div>
    <div class="w-full grid grid-cols-8 max-w-full justify-center gap-4 mb-5 place-content-center">
        <h2 class="col-span-8 font-semibold text-xl">Actuadores</h2>
        @if(fanData){
            <app-fan-data-item component-room-name="livingrooms" [component-location]="fanData.location" [component-name]="fanData.name" [fan-data]="fanData" class="col-span-2 row-span-2"></app-fan-data-item>
        }
        @if(inLightData){
            <app-in-light-data-item component-room-name="livingrooms" [component-location]="inLightData.location" [component-name]="inLightData.name" [inlight-data]="inLightData" class="col-span-2 row-span-2"></app-in-light-data-item>
        }
        @if(doorData){
            <app-door-data-item component-room-name="livingrooms" [component-location]="doorData.location" [component-name]="doorData.name" [door-data]="doorData" class="col-span-2 row-span-2"></app-door-data-item>
        }
        @if(exLightData){  
            <app-ex-light-data-item component-room-name="livingrooms" [component-location]="exLightData.location" [component-name]="exLightData.name" [exlight-data]="exLightData" class="col-span-2 row-span-2"></app-ex-light-data-item>
        }
        @if (windowLeftData && windowRightData) {
            <app-window-double-data-item component-room-name="livingrooms" [component-location]="windowRightData.location" [component-name]="windowRightData.name" [windowDL-data]="windowLeftData" [windowDR-data]="windowRightData" class="col-span-2 row-span-2" />
        }
    </div>
</section>