<main class="relative w-11/12 mx-auto flex flex-col gap-5 mt-2">
    <button mat-icon-button (click)="goBack()"
        class="absolute top-0 left-0  transition-all ease-in hover:text-emerald-400 hover:font-bold hover:scale-105 flex items-center justify-center"
        matTooltip="Regresar" matTooltipShowDelay="75" matTooltipHideDelay="150" matTooltipPosition="right">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <h1 class="text-2xl font-bold mt-11">Información de {{sensorName}} en {{roomName}}</h1>
    <h2 class="font-medium text-xl">Especificaciones Técnicas:</h2>
    <div>
        <mat-accordion displayMode="flat" [multi]="true" [hideToggle]="false" togglePosition="before">
            @for (specification of specifications; track $index) {
            <mat-expansion-panel [hideToggle]="false">
                <mat-expansion-panel-header class="font-bold">{{specification.name}}</mat-expansion-panel-header>
                <ul class="[&>li>strong]:font-medium">
                    @if (specification.minValue || specification.minValue == 0 && specification.maxValue &&
                    specification.unit) {
                    <li><strong>Valor mínimo:</strong> {{specification.minValue}} {{specification.unit ||
                        specification.measurementUnit}}</li>
                    <li><strong>Valor máximo:</strong> {{specification.maxValue}} {{specification.unit ||
                        specification.measurementUnit}}</li>
                    }
                    @if (specification.minValue && specification.maxValue && !specification.unit || specification.unit
                    == null) {
                    <li><strong>Valor mínimo:</strong> {{specification.minValue}}</li>
                    <li><strong>Valor máximo:</strong> {{specification.maxValue}}</li>
                    }
                    @if (specification.value && specification.unit && specification.type) {
                    <li><strong>Valor:</strong> {{specification.value}} {{specification.unit}}</li>
                    <li><strong>Tipo:</strong> {{specification.type}}</li>
                    }
                    @if (specification.value && specification.unit && !specification.type || specification.type == null
                    && !specification.minValue && !specification.maxValue) {
                    <li><strong>Valor:</strong> {{specification.value}} {{specification.unit}}</li>
                    }
                </ul>
            </mat-expansion-panel>
            }
        </mat-accordion>

    </div>
    <div class="w-full flex justify-around items-center">
        <highcharts-chart 
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        class="w-1/2"
      ></highcharts-chart>
    </div>

    <h2 class="font-medium text-xl">Registros del sensor:</h2>
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="registro">
            <th mat-header-cell *matHeaderCellDef class="font-bold"> Registro </th>
            <td mat-cell *matCellDef="let record"> {{ record.name }} </td>
        </ng-container>

        <ng-container matColumnDef="ubicacion">
            <th mat-header-cell *matHeaderCellDef class="font-bold"> Ubicación </th>
            <td mat-cell *matCellDef="let record"> {{ record.location }} </td>
        </ng-container>

        <ng-container matColumnDef="estatus">
            <th mat-header-cell *matHeaderCellDef class="font-bold"> Estatus </th>
            <td mat-cell *matCellDef="let record"> {{ record.status }} </td>
        </ng-container>

        <ng-container matColumnDef="lecturas">
            <th mat-header-cell *matHeaderCellDef class="font-bold"> Lectura/s </th>
            <td mat-cell *matCellDef="let record"> {{ getReadings(record) }} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef class="font-bold"> Fecha </th>
            <td mat-cell *matCellDef="let record"> {{ record.registeredDate }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</main>